<h1>Spelen</h1>
<p>Je hebt twee mogelijkheden:</p>
<ul>
    <li>Meedoen aan een bestaand spel</li>
    <li>Zelf een nieuw spel aanmaken</li>
</ul>
<h1>Regels</h1>
<p>
    Een zet bestaat uit het neerleggen van een steen, met de eigen kleur boven, op een leeg veld. Alle stenen of series van stenen van de kleur van de tegenstander die tussen deze steen en een steen van de eigen kleur liggen (horizontaal, verticaal of schuin), worden omgedraaid. Men mag alleen een steen neerleggen indien daardoor minstens één steen wordt omgedraaid. Kan men dat niet, dan slaat men een beurt over. Kan men wel een zet doen, dan is dat verplicht.
</p>
<p>
    Het spel is voorbij als er geen stenen meer neergelegd kunnen worden, meestal doordat het bord vol is. De winnaar is de speler die de meeste stenen van zijn of haar kleur op het bord heeft.
</p>
<a href="https://nl.wikipedia.org/wiki/ReversiMvcApp" target="_blank" rel="noopener" class="float-right">Meer informatie</a>
